body {
	background: url(/images/bg_corkboard.jpg) top left repeat fixed;
}

.sticky-note {
	position: absolute;
}

.sticky-note .title {
	background: transparent;
	border: none;
	display: block;
	font-size: 20px;
	font-weight: bold;
}

.sticky-note .body {
	background: transparent;
	border: none;
	display: block;
}